<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <% if (locals.error) {%>
        <div class="msg error">
            Incorrect Password
        </div>
    <% }%>

    <form method="post" id="file-upload-form">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <button id="share-btn" type="submit">Download</button>
    </form>
</body>
</html>